@page
@model RecruitCatBandish.Pages.Accounts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Account Holder Details Page</h1>
@if (Model.AccountHolder.BankAccount.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(Model =>  Model.AccountHolder.BankAccount[0].AccountName)</th>
                <th>@Html.DisplayNameFor(Model => Model.AccountHolder.BankAccount[0].AccountType)</th>
                <th>@Html.DisplayNameFor(Model => Model.AccountHolder.BankAccount[0].AccountHolderId)</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AccountHolder.BankAccount)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AccountName)</td>
                    <td>@Html.DisplayFor(modelItem => item.AccountType)</td>
                    <td>@Html.DisplayFor(modelItem => item.AccountHolderId)</td>
                    <td> 
                        <a asp-page="/Banks/Details" asp-route-id ="@item.AccountHolderId"> Deets here</a>
                    </td>
                </tr>
            }
            <tr>
                <th>Total Balance</th>
                <th>@Model.AccountHolder.BankAccount.Sum(b => b.CurrentBalance)</th>

            </tr>
        </tbody>
    </table>
}


<div>
    <h4>Account Holder Details are below</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.AccHolAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.AccHolAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.PhoneNumber)
        </dd>
    </dl>
    </div>

   
    <div>
    <a asp-page="./Edit" asp-route-id="@Model.AccountHolder.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

