@page
@model RecruitCatBandish.Pages.Banks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Online Banking</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].CurrentBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].AccountHolder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BankAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountHolder.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BankAccountID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BankAccountID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BankAccountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
